.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

.board {
    display: grid;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.row {
    display: grid;
    gap: 15px;
}

.row_for_4_letters {
    grid-template-columns: repeat(4, 60px);
}

.row_for_5_letters {
    grid-template-columns: repeat(5, 60px);
}

.row_for_6_letters {
    grid-template-columns: repeat(6, 60px);
}

.cell {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d0e6d4;  /* Легкий зеленый градиент */
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень для объёмности */
    transition: background-color 0.5s ease, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out; /* Добавляем плавный переход для фона */
}


.cell.filled {
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Увеличенная тень при заполнении */
}

.correct {
    background-color: #6aaa64;
    color: white;
    transition: background-color 0.5s ease; /* Плавный переход цвета */
}

.present {
    background-color: #c9b458;
    color: white;
    transition: background-color 0.5s ease; /* Плавный переход цвета */
}

.absent {
    background-color: rgba(217, 53, 51, 0.8);
    color: white;
    transition: background-color 0.5s ease; /* Плавный переход цвета */
}

.cell:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Эффект при наведении */
    border-color: #6aaa64; /* Темно-зеленая граница при наведении */
}

.game-container p {
    font-size: 14px;
    color: #5a5;
}

/* Alerts */

/* Поздравление с победой */
.alert {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #4caf50; /* Зеленый цвет */
    color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: opacity 0.3s ease;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    float: right;
}

.closebtn:hover {
    color: #ccc;
}


/* Поражение */
.alert-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
    z-index: 1000;
}

.alert-container.show {
    visibility: visible;
    opacity: 1;
}

.alert-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    animation: scaleUp 0.3s ease-in-out;
}

.alert-content h2 {
    margin-top: 0;
    font-size: 24px;
    color: #e74c3c;
}

.alert-content p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

.alert-content button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.alert-content button:hover {
    background-color: #c0392b;
}

@keyframes scaleUp {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.alert-content {
    text-align: center;
    padding: 20px;
    background-color: #f8d7da;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.button-container button {
    padding: 10px 20px;
    background: linear-gradient(90deg, #a8e6a3, #a8e6cf); /* Легкий зеленый градиент */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.button-container button:hover {
    transform: scale(1.05);
}


/* Кнопка новой игры*/
#restart-container {
    display: none;
    text-align: center;
    margin-top: 20px;
}

#restart-container button {
    padding: 10px 20px;
    background: linear-gradient(90deg, #a8e6a3, #a8e6cf);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#restart-container button:hover {
    transform: scale(1.05);
}