.table-container-unique {
    font-family: 'Montserrat', sans-serif; /* Основной шрифт */
    padding: 25px; /* Отступы вокруг таблицы */
    border-radius: 20px; /* Закругление углов контейнера */
    box-shadow: none /* Тень для контейнера */
    opacity: 0; /* Начальная прозрачность */
    transform: translateY(30px); /* Сдвинут вниз */
    transition: opacity 0.7s ease-out, transform 0.7s ease-out; /* Плавный переход */
}

.table-container-unique.visible {
    opacity: 1; /* Конечная прозрачность */
    transform: translateY(0); /* Возвращаем на место */
}

.unique-table {
    width: 100%;
    border-collapse: separate; /* Раздельные границы для ячеек */
    border-spacing: 15px; /* Отступы между ячейками */
    font-size: 1.5em; /* Увеличиваем размер шрифта */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.unique-th, .unique-td {
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    text-align: center;
    border: none;
    border-radius: 20px;
    width: 33.33%;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; /* Добавлено */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.unique-th {
    background-color: rgba(193, 240, 207, 1);
    font-weight: bold;
    letter-spacing: 0.05em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

}

.unique-data-row {
    background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный фон для строк с данными */

}

.unique-data-row:nth-child(even) {
    background-color: rgba(249, 249, 249, 0.9); /* Полупрозрачный фон для четных строк */
}

.unique-data-row:hover .unique-td {
    background-color: rgba(144, 238, 144, 0.2); /* Лёгкий зелёный оттенок при наведении */
    transform: translateY(-3px); /* Лёгкий сдвиг вверх при наведении */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Выразительная тень при наведении */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.unique-transparent-row {
    height: 20px; /* Высота пропуска */
    border: none; /* Убираем границы для пропуска */
    background: url('/static/wordsnail/images/fon_shop.png') no-repeat center center fixed;
}

.unique-ranking-row {
    background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный фон для строки */
    border-radius: 20px; /* Закругленные углы */
    font-weight: bold; /* Жирный текст */
    font-size: 1em; /* Увеличиваем размер шрифта */
    padding: 15px; /* Отступы в ячейках */
    text-align: center; /* Выравнивание текста по центру */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Легкая тень для выделения */
}

.highlight {
    background-color: rgba(255, 238, 186, 0.9); /* Полупрозрачный светло-желтый цвет для выделения */
    font-weight: bold; /* Жирный текст для выделенной строки */
}
.your-ranking-title {
    font-family: 'Montserrat', sans-serif; /* Основной шрифт */
    text-align: center; /* Центрируем текст */
    font-size: 1.75em; /* Размер шрифта для заголовка */
    margin: 20px 0; /* Отступы сверху и снизу */
    font-weight: bold; /* Жирный текст */
    color: #333; /* Цвет текста, можно изменить по желанию */
}
.fixed-ranking-table {
    position: fixed; /* Фиксированное положение */
    top: 20px; /* Отступ сверху */
    right: 20px; /* Отступ справа */
    z-index: 1000; /* Обеспечивает, что таблица будет выше других элементов */
    background: rgba(255, 255, 255, 0.9); /* Фоновый цвет с прозрачностью */
    border-radius: 10px; /* Закругление углов */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Тень для контейнера */
    padding: 10px; /* Отступы вокруг таблицы */
}
 #searchInput {
        width: 20%; /* Ширина поля ввода, можете изменить по желанию */
        padding: 10px; /* Отступы внутри поля */
        margin-bottom: 20px; /* Отступ снизу */
        margin-left: -270px; /* Отступ слева для выравнивания */
        margin-right: 15px; /* Убираем отступ справа */
        border: 2px solid #adb5bd; /* Более выразительная рамка */
        border-radius: 15px; /* Закругление углов */
        font-size: 1em; /* Размер шрифта */
        float: right; /* Фиксируем поле ввода справа */
        display: inline-block;
        transition: border-color 0.3s ease;
 }
 .search-container {
        display: flex; /* Используем flexbox для выравнивания */
        justify-content: center; /* Центрируем содержимое по горизонтали */
        margin-bottom: 20px; /* Отступ снизу для блока поиска */
}
#searchInput:focus {
    border-color: green; /* Цвет рамки при фокусе */
    outline: none; /* Убираем стандартный outline */
}
.table-container-unique {
    opacity: 0;
    filter: blur(10px); /* Начальная размытость */
    transform: translateY(20px); /* Сдвиг вниз */
    transition: opacity 0.7s ease-out, transform 0.7s ease-out, filter 0.7s ease-out; /* Плавный переход */
}

.table-container-unique.visible {
    opacity: 1;
    filter: blur(0); /* Убираем размытость */
    transform: translateY(0); /* Возвращаем на место */
}
.unique-th {
    background: linear-gradient(180deg, rgba(193, 240, 207, 1), rgba(144, 238, 144, 0.8));
}
