{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

    {% block additional_css %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'wordsnail/css/style.css' %}">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@400;700&family=Lobster&family=Merriweather:wght@400&display=swap" rel="stylesheet">
</head>
<body>

    <nav class="navbar">
        <div class="logo">

            <a href="/" class="dg">W</a>
        </div>
<!--           <a href="{% url 'index' %}" ><img class="barimg" src="{{ user.profile.current_skin.url }}"  alt="W" /></a>-->
<!--        </div>-->

        <div class="info">

            <a href="{% url 'shop' %}" class="shop">Shop</a>
            <a href="{% url 'play' %}" class="play">Play</a>
            <a href="{% url 'rating' %}" class="rating">Rating</a>
             <!-- Ссылка на страницу игры -->
            {% if user.is_authenticated %}
            <span class="stars">{{ user.profile.money }}&#128012</span>
            {% endif %}
        </div>
        {% if user.is_authenticated %}

        <div class="user">

            <div class="user-icon">{{ user.username }}</div>
            <br>
            <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="button-link">Log Out</button>
</form>

        </div>
        {% else %}
        <div class="button-container">
        <a href="{% url 'register' %}" class="button-link">Registration</a>
        <a href="{% url 'login' %}" class="button-link">Log in</a>
    </div>
        {% endif %}
    </nav>

    {% block yourhtml %}
    {% endblock %}
</body>
</html>