{% extends 'wordsnail/base.html' %}
{% load static %}

{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'wordsnail/css/game.css' %}">
{% endblock %}


{% block yourhtml %}
<div class="game-container">
    <h1>Wordsnail Game</h1>
    <div class="board" id="board">
        <!-- Rows will be dynamically added using JavaScript -->
    </div>
    <p id="message"></p>

    <div id="restart-container">
        <button onclick="restartGame()">Restart</button>
    </div>
</div>

<script>
    const shopUrl = "{% url 'shop' %}";
    const homeUrl = "{% url 'index' %}";
</script>
<script src="{% static 'wordsnail/js/game.js' %}"></script>


{% endblock %}




