{% extends 'wordsnail/base.html' %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block yourhtml %}
    <br>
    <br><br><br>
    <div class="container">
        <!-- Левый блок -->
        <div class="left-block">
            <h1 class="logo">WordSnail</h1>
            <p class="users-count">TOTAL NUMBER OF USERS: {{ count_user }}</p>
        </div>

        <!-- Правый блок -->
        <div class="right-block">
            <h1 class="logo">WordSnail</h1>
            <p class="description">
                Едешь в полностью забитом автобусе, тебя обжимают потные wicked пассажиры, а воздуха уже не хватает, и все, чего ты хочешь — умереть поскорее?<br><br>
                Сделай правильный choice — запусти WORDSNAIL и покажи всем, кто здесь самый amazing clever boy — guess the слово первым и получи место у водителя...
            </p>
        </div>
    </div>
{% endblock %}