{% extends 'wordsnail/base.html' %}

{% block yourhtml %}
    <div class="container">
        <div class="left-rect">
            <h1 class="title">Wordsnail</h1>
            <p class="users">TOTAL NUMBER OF USERS: 10</p>
        </div>

        <div class="right-rect">
            <h1 class="title">Wordsnail</h1>
            <p class="description">
                Едешь в полностью забитом автобусе, тебя обжимают потные wicked пассажиры,
                а воздуха уже не хватает, и все, чего ты хочешь — умереть поскорее?
            </p>
            <p class="description">
                Сделай правильный choice — запусти WORDSNAIL и покажи всем, кто здесь самый amazing clever boy — guess the слово первым и получи место у водителя...
            </p>
        </div>
    </div>
{% endblock %}