{% extends 'wordsnail/base.html' %}

{% block yourhtml %}
<div class="card-container">
    {% for el in things_in_shop %}


    <div class="card" style="width: 18rem; display: inline-block;margin-left: 30px" >
        <img src="{{ el.picture.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" style="color:white">{{el.title}}</h5>
            <form method="post">
                {% csrf_token %}
                {% if user.profile.current_skin == el.picture %}
                    <button class="shopMy" type="submit" name="act" value="{{el.id}}">Применено</button>
                {% elif el.id not in id_lis %}
                    <button class="shopBtn" type="submit" name="act" value="{{el.id}}">{{el.price}}$$</button>
                {% else %}
                    <button class="shopBtnHave" type="submit" name="act" value="{{el.id}}">Применить</button>
                {% endif %}
            </form>
        </div>
    </div>


{% endfor %}
</div>
{% endblock %}