{% extends 'wordsnail/base.html' %}
{% load static %}

{% block yourhtml %}
<div class="card-container">
    {% if code == 2 %}
    <div id="alert" class="alert-container-shop">
        <div class="alert-content">
            <h2>Вы не можете купить товар, так как Вы не вошли в аккаунт!</h2>
            <p>Войдите, чтобы покупать скины</p>
            <button onclick="closeAlert()">Закрыть</button>

            <!-- Контейнер для кнопки "Входа" и "Магазин" -->
            <div class="button-container">
                <button onclick="goLogin()">Войти</button>
            </div>
        </div>
    </div>
    {% endif %}


    {% for el in things_in_shop %}

    <div class="card" style="width: 18rem; display: inline-block;margin-left: 30px" >
        <img src="{{ el.picture.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" style="color:white">{{el.title}}</h5>
            <form method="post">
                {% csrf_token %}
                {% if user.profile.current_skin == el.picture %}
                    <button class="shopMy" type="submit" name="act" value="{{el.id}}">Применено</button>
                {% elif el.id not in id_lis %}
                    <button class="shopBtn" type="submit" name="act" value="{{el.id}}">{{el.price}}$$</button>
                {% else %}
                    <button class="shopBtnHave" type="submit" name="act" value="{{el.id}}">Применить</button>
                {% endif %}
            </form>
        </div>
    </div>


{% endfor %}
</div>
    <script>
        const loginUrl = "{% url 'login' %}"
    </script>
    <script src="{% static 'wordsnail/js/shop.js' %}"></script>
    <script src="{% static 'wordsnail/js/script.js' %}"></script>
{% endblock %}